$button-height: 42px;

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workContainer {
  width: 700px;
}

.sectionHeader {
  opacity: 0;
  transition: all 0.5s ease;
}

.sectionHeader_active {
  opacity: 1;
}
.workExperiences {
  position: relative;
}

.companies {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: fit-content;

  .company_name_active {
    background-color: #112240;
    color: var(--secondary-color);
  }
}

.workExperiences {
  display: flex;
  flex: 1;
  gap: 30px;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(100%);
}

.workExperiences_inView {
  opacity: 1;
  transform: translateY(00px);
}

.experience {
  .title {
    font-weight: 600;
    font-size: clamp(var(--xl-font), 3vw, var(--xxl-font));
    color: var(--light-slate);
    margin-bottom: 10px;

    span {
      color: var(--secondary-color);
    }
  }

  .timeline {
    color: var(--slate);
    font-size: clamp(var(--xs-font), 3vw, var(--small-font));
    font-family: "SF Mono", monospace;
    margin-bottom: 20px;
  }
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .task {
    position: relative;
    list-style: none;
    color: var(--slate);
    padding-left: 30px;
    font-size: clamp(var(--regular-font), 3vw, var(--large-font));

    &::before {
      content: "▹";
      position: absolute;
      left: 0;
      color: var(--secondary-color);
    }
  }
}
