$button-height: 42px;

.dynamic_scroll {
  left: 0;
  position: absolute;
  height: $button-height;
  width: 2px;
  background-color: var(--secondary-color);
  transition: all 300ms ease;
}

@media (max-width: 768px) {
  .dynamic_scroll {
    display: none;
  }
}
