@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-mono");

@font-face {
  font-family: "Calibre";
  src: url("../font/test-calibre-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url("../font/test-calibre-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("../font/test-calibre-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url("../font/test-calibre-regular-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url("../font/test-calibre-bold-italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Calibre", "Inter";
}

:root {
  /* colors */
  --primary-color: #0b192e;
  --secondary-color: #64ffda;
  --light-slate: #ccd6f6;
  --slate: #8892b0;

  /* paddings */
  --xl-padding: 50px;
  --mobile-xl-padding: 25px;
}

body {
  background-color: var(--primary-color);
}

.sectionPadding {
  padding: 0px var(--xl-padding);
}
