@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-mono");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Calibre";
}

:root {
  /* colors */
  --primary-color: #0b192e;
  --secondary-color: #64ffda;
  --light-slate: #ccd6f6;
  --slate: #8892b0;
  --primary-tint: #64ffda1a;
  --lightest-navy: #233554;
  --light-navy: #112240;

  /* paddings */
  --small-padding: 20px;
  --xs-padding: 25px;
  --large-padding: 30px;
  --xl-padding: 50px;
  --xxl-padding: 150px;
  --mobile-xl-padding: 25px;
  --mobile-xxl-padding: 50px;

  /* gap */
  --gap-xs: 5px;
  --gap-small: 10px;
  --gap-large: 20px;
  --gap-xl: 30px;

  /* margins */
  --large-margin: 50px;
  --xl-margin: 75px;
  --xxl-margin: 110px;
  --mobile-xl-margin: 25px;
  --mobile-xxl-margin: 50px;

  /* font sizes */
  --xxs-font: 10px;
  --xs-font: 12px;
  --small-font: 14px;
  --regular-font: 16px;
  --large-font: 18px;
  --xl-font: 20px;
  --xxl-font: 24px;
  --small-header-font: 26px;
  --heading-font: 32px;

  /* border radius */
  --border-radius: 4px;
}

body {
  background-color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
}

main {
  overflow-x: hidden !important;
}

.sectionPadding {
  min-height: 100vh;
  overflow: hidden;
  padding: 0px var(--xxl-padding);
  margin: 0px var(--xl-margin);
}

/* media queries */
@media (max-width: 1100px) {
  .sectionPadding {
    padding: 0px var(--mobile-xxl-padding);
    margin: 0px var(--mobile-xxl-margin);
  }
}
@media (max-width: 768px) {
  .sectionPadding {
    padding: 0px var(--mobile-xl-padding);
    margin: 0px;
  }
}
