.thingIBuilt {
  margin-top: var(--xl-margin);
}

.builts {
  margin-top: var(--xl-padding);
  display: flex;
  flex-direction: column;
  gap: var(--xxl-padding);
}

@media (max-width: 768px) {
  .builts {
    gap: var(--xl-padding);
  }
}
