.emailElement {
  position: fixed;
  bottom: 0;
  right: var(--xl-padding);
  font-family: "Space Mono";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  animation-delay: 1300ms;

  a {
    text-decoration: none;
    color: var(--light-slate);
    writing-mode: vertical-rl;
    font-size: var(--xs-font);
    letter-spacing: 1.4px;
    transition: all 300ms ease-in-out;

    &:hover {
      color: var(--secondary-color);
      transform: translateY(-10px);
    }
  }
}

.placeHolder {
  height: 100px;
  width: 1px;
  background-color: var(--light-slate);
}

@media (max-width: 1100px) {
  .emailElement {
    right: 25px;
  }
}
@media (max-width: 768px) {
  .emailElement {
    display: none;
  }
}
