.navbar {
  padding: 0px var(--xl-padding);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
}

.logoWrapper {
  height: 42px;
  width: 42px;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navLinks {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navLinkShow {
  color: var(--light-slate);
  font-family: "SF Mono", sans-serif;
  transition: all 300ms ease-in-out;
  opacity: 1;

  transform: translateY(00%);

  .link__title {
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: all 500ms ease;
    &:hover {
      color: var(--secondary-color);
    }
  }
  .link__number {
    margin-right: 5px;
    color: var(--secondary-color);
  }
}

.animate {
  transition: all 300ms ease-in-out;
  opacity: 1;
}

.navlinkHidden {
  @extend .navLinkShow;
  opacity: 0;
  transform: translateY(-100%);
}

.mobileMenuIcon {
  color: var(--secondary-color);
  display: none;
  animation-delay: 0.2s !important;
}

.mobileMenuWrapper {
  display: none;
}

.mobileMenuShow {
  width: 100%;
  transition: all 300ms ease;
  transform: translateX(0vw);
}
.mobileMenuHide {
  transition: all 300ms ease;
  transform: translateX(100vw);
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 0 var(--mobile-xl-padding);
  }

  .navLinks {
    display: none;
  }

  .mobileMenuIcon {
    display: block;
    z-index: 12;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .mobileMenuWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }

  .placeHolder {
    width: 100%;
    height: 100%;
    flex-basis: 40%;
  }

  .mobileMenu {
    background-color: var(--primary-color);
    flex-basis: 60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 25px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 35px;

    .link__title {
      font-size: 16px;
    }
  }
}

.mobilemenuIconHide {
  opacity: 0;
  display: none;
}

.mobileMenuIconShow {
  margin-top: 8px;
  opacity: 1;
}
