.heroSection {
  // padding-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.helloString {
  margin: 0px 0px 20px 4px;
  color: var(--secondary-color);
  font-family: "SF Mono";
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 400;
  animation-delay: 600ms;
}

.name {
  animation-delay: 700ms;

  h3 {
    line-height: 1.1;
    color: var(--light-slate);
    margin: 0px;
    font-size: clamp(40px, 8vw, 75px);
    font-weight: 600;
  }
}

.tagline {
  @extend .name;
  animation-delay: 800ms;

  h3 {
    color: var(--slate);
  }
  margin-bottom: 30px;
}

.description {
  width: 70%;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 1.5;
  animation-delay: 900ms;

  p {
    color: var(--light-slate);
    opacity: 0.7;
  }
}

.button {
  animation-delay: 1000ms;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .description {
    width: 100%;
  }
}
