@mixin hoverablePhoto($height, $width, $effect) {
  position: relative;
  height: $height;
  width: $width;
  transition: all 300ms ease-in-out;

  @if ($effect) {
    &::before {
      content: "";
      position: absolute;
      width: $width;
      height: $height;
      background-color: var(--secondary-color);
      mix-blend-mode: multiply;
      transition: all 300ms ease-in-out;
      border-radius: var(--border-radius);
    }
  }

  &:hover {
    &::before {
      background-color: transparent;
    }
    &::after {
      left: 15px;
      top: 15px;
    }
  }

  img {
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
  }
}
