@use "../../../styles/mixins/photoMixins.module.scss" as mixins;

.imageWrapper {
  grid-area: 1/1/1/8;
  @include mixins.hoverablePhoto(100%, 100%, false);

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.projectCard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

  &:nth-of-type(2n + 1) {
    .imageWrapper {
      grid-column: 6/-1;
    }

    .textWrapper {
      grid-column: 1/7;
      align-items: flex-start;
    }

    .title,
    .techs {
      margin-left: unset;
      margin-right: 16%;
    }
  }
}

.textWrapper {
  z-index: 1;
  grid-area: 1/7/1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.subtitle {
  font-size: clamp(var(--xs-font), 1vw, var(--small-font));
  font-family: "Space Mono", monospace;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.title {
  font-size: clamp(var(--small-header-font), 4vw, var(--heading-font));
  color: var(--light-slate);
  text-decoration: none;
  font-weight: bold;
  margin-left: 16%;
  margin-bottom: 15px;
}

.description_wrapper {
  padding: var(--small-padding);
  background-color: var(--light-navy);
  border-radius: var(--border-radius);
  box-shadow: var(--light-navy) 0px 2px 8px 0px;
  margin-bottom: 25px;

  .description {
    font-size: clamp(var(--small-font), 2vw, var(--regular-font));
    line-height: 1.5;
    color: var(--light-slate);
  }
}

.techs {
  margin-left: 16%;

  display: flex;
  gap: 20px;
}

.tech {
  font-size: clamp(var(--xs-font), 2vw, var(--small-font));
  color: var(--slate);
  font-family: "Space Mono", monospace;
}

.links {
  display: flex;
  align-items: center;
  gap: var(--xs-padding);
  margin-top: var(--xs-padding);
  margin-bottom: 10px;
  margin-left: 10px;

  .linkIcon {
    cursor: pointer;
    svg {
      color: var(--light-slate);
      font-size: var(--xxl-font);
    }
  }
}

@media (max-width: 768px) {
  .projectCard {
    all: unset;
    position: relative;

    &::after {
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: red;
    }
  }

  .textWrapper {
    position: absolute;
    bottom: 0;
  }

  .imageWrapper {
    position: relative;
    img {
      opacity: 0.08;
      filter: grayscale(100);
    }
  }

  .links {
    gap: var(--gap-large);
    .linkIcon {
      svg {
        color: var(--light-slate);
        font-size: var(--xl-font);
      }
    }
  }
}

@media (max-width: 600px) {
  .description_wrapper {
    padding: 10px;
  }

  .projectCard {
    .subtitle {
      font-size: var(--xxs-font);
    }
    .title {
      font-size: var(--xl-font);
    }

    .description {
      font-size: var(--xs-font);
    }

    .tech {
      white-space: nowrap;
      font-size: var(--xxs-font);
    }
  }
}
